<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">
        <h1>Welcome, <%= username %> back to the site!</h1>
        <a href="/story/1">Story 1</a>
        <a href="/story/2">Story 2</a>
        <a href="/story/3">Story 3</a>
        <br />
        <a href="/statement">Download Your Statement</a>
        <p><a href="/logout">Logout</a></p>
      </div>
    </div>
  </body>
</html>
